docker-phpcli-latest:
  # Official docker image.
  image: docker:19.03.12
  stage: build
  services:
    - docker:19.03.12-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u ${DOCKER_HUB_USER} -p ${DOCKER_HUB_PASS} 
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE" .
    - docker build --pull -t "$CI_REGISTRY_IMAGE:7.4" .
    - docker push "$CI_REGISTRY_IMAGE"
    - docker push php-cli:latest
    - docker push php-cli:7.4
  only:
    changes:
      - Dockerfile
      - memory.ini
      - sspak.phar
      - tools-entrypoint.sh

docker-phpcli-5.6:
  # Official docker image.
  image: docker:19.03.12
  stage: build
  services:
    - docker:19.03.12-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - cd 5.6
    - docker build --pull -t "$CI_REGISTRY_IMAGE:5.6" .
    - docker push "$CI_REGISTRY_IMAGE:5.6"
    - docker push php-cli:7.4
  only:
    changes:
      - 5.6/*

docker-phpcli-7.1:
  # Official docker image.
  image: docker:19.03.12
  stage: build
  services:
    - docker:19.03.12-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - cd 7.1
    - docker build --pull -t "$CI_REGISTRY_IMAGE:7.1" .
    - docker push "$CI_REGISTRY_IMAGE:7.1"
    - docker push php-cli:7.1
  only:
    changes:
      - 7.1/*

docker-phpcli-7.3:
  # Official docker image.
  image: docker:19.03.12
  stage: build
  services:
    - docker:19.03.12-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - cd 7.3
    - docker build --pull -t "$CI_REGISTRY_IMAGE:7.3" .
    - docker push "$CI_REGISTRY_IMAGE:7.3"
    - docker push php-cli:7.3
  only:
    changes:
      - 7.3/*

docker-phpcli-8.rc:
  # Official docker image.
  image: docker:19.03.12
  stage: build
  services:
    - docker:19.03.12-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - cd 8.rc
    - docker build --pull -t "$CI_REGISTRY_IMAGE:8-rc" .
    - docker push "$CI_REGISTRY_IMAGE:8-rc"
    - docker push php-cli:8-rc
  only:
    changes:
      - 8.rc/*
